Equal-Weight S&P 500 Index Fund

Introduction

The S&P 500 is the world's most popular stock market index. 
The largest fund that is benchmarked to this index is the SPDR® S&P 500® ETF Trust. 
It has more than US$250 billion of assets under management.

[own S&P 500 Index Fund <=> own 500 largest companies in the U.S]

The goal is to create a Python script that will accept the value of your portfolio and tell you how many shares of each S&P 500 constituent you should purchase to get an equal-weight version of the index fund.

In [40]:
import math
import pandas as pd
from tqdm import tqdm
import yahoo_fin.stock_info as yf

import warnings
warnings.filterwarnings('ignore')

In [3]:
tickers_500 = yf.tickers_sp500()
# display (ticker)

SnP_500_stock_info = {}
for ticker in tqdm (tickers_500) :
    SnP_500_stock_info [ticker] = yf.get_quote_table(ticker)
#display (SnP_500_stock_info)

100%|█████████████████████████████████████████| 503/503 [12:55<00:00,  1.54s/it]

Scrape Stocks Data (from Yahoo) and prepare DataFrame

In [24]:
SnP_500_df = pd.DataFrame.from_dict(SnP_500_stock_info, orient='index')[['Quote Price', 'Market Cap']]
# *** BTW, Market Cap (Market Capitalization) => The value of the company = Number of Outstanding Shares * Price
#display (SnP_500_df)

SnP_500_df.index.name = 'Ticker'
SnP_500_df.reset_index(inplace = True)

SnP_500_df ['Number of Shares to Buy'] = 'N/A' # Adding a new column ['Number of Shares to Buy']

display (SnP_500_df)

    Ticker  Quote Price Market Cap Number of Shares to Buy
0        A   144.699997    42.842B                     N/A
1      AAL    14.070000     9.144B                     N/A
2      AAP   154.065002     9.129B                     N/A
3     AAPL   127.260002     2.103T                     N/A
4     ABBV   167.509995   296.238B                     N/A
..     ...          ...        ...                     ...
498    YUM   129.250000    36.408B                     N/A
499    ZBH   126.570000    26.561B                     N/A
500   ZBRA   270.290009    13.955B                     N/A
501   ZION    50.410000     7.542B                     N/A
502    ZTS   145.402496    67.768B                     N/A

[503 rows x 4 columns]

Calculating the Number of Shares to Buy (according to the portfolio value input by the user)

In [42]:
portfolio_value = None
isInputWrong = True

while isInputWrong :    
    try :
        portfolio_value = float (input ("Enter Portfolio Value :  "))
        if isinstance(portfolio_value, float) :
            isInputWrong = False
    except Exception as excep :
        print (f"Input is NOT valid as {excep}")

print (f"Portfolio Enetered = {portfolio_value}")

Enter Portfolio Value :  10000000
Portfolio Enetered = 10000000.0

In [43]:
each_position_size = portfolio_value/len(SnP_500_df.index)

calculated_shares_to_buy = []
for each_stoc_price in SnP_500_df ['Quote Price'] :
    calculated_shares_to_buy.append (math.floor(each_position_size/each_stoc_price))
    
SnP_500_df ['Number of Shares to Buy'] = calculated_shares_to_buy

display (SnP_500_df)

    Ticker  Quote Price Market Cap  Number of Shares to Buy
0        A   144.699997    42.842B                      137
1      AAL    14.070000     9.144B                     1412
2      AAP   154.065002     9.129B                      129
3     AAPL   127.260002     2.103T                      156
4     ABBV   167.509995   296.238B                      118
..     ...          ...        ...                      ...
498    YUM   129.250000    36.408B                      153
499    ZBH   126.570000    26.561B                      157
500   ZBRA   270.290009    13.955B                       73
501   ZION    50.410000     7.542B                      394
502    ZTS   145.402496    67.768B                      136

[503 rows x 4 columns]